@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  font-family: 'Exo 2', sans-serif;
  font-size: 10px;

  --font-color: #5400c7;
  --neon-text-color: #f40;
  --neon-border-color: #08f;
  --shadow-color: #a01276;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./background.png)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px 50px;
}

button {
  border: var(--font-color) 1px solid;
  box-shadow: 3px 3px var(--font-color);
  color: var(--font-color);
  font-weight: bold;
  height: min-content;
  padding: 2px;
}

h1,
h2,
input {
  margin-bottom: 20px;
  width: 100%;
}

h1 {
  color: white;
  font-style: italic;
  text-align: center;
  border: 0.4rem solid white;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow:
      -0.2rem -0.2rem 1rem white,
      0.2rem 0.2rem 1rem white,
      0 0 2rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color),
      0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);
    box-shadow:
      0 0 0.5rem white,
      inset 0 0 0.5rem white,
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

h2 {
  color: white;
  text-shadow:
    0 0 7px var(--shadow-color),
    0 0 10px var(--shadow-color),
    0 0 21px var(--shadow-color),
    0 0 42px white,
    0 0 82px white,
    0 0 92px white,
    0 0 102px white,
    0 0 151px white;
}

input {
  font-size: medium;
}

section {
  align-items: flex-start;
}

ul {
  border: black 2px solid;
  min-height: 25px;
  width: 100%;
}

li {
  list-style-type: none;
}

li:nth-child(even) {
  background-color: lightgrey;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.justify-end {
  align-self: flex-end;
}
