@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  font-family: 'Exo 2', sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./background.png)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px 50px;
}

button {
  height: min-content;
  padding: 5px;
}

h1,
h2,
input {
  margin-bottom: 20px;
  width: 100%;
}

input {
  font-size: medium;
}

section {
  align-items: flex-start;
}

ul {
  border: black 2px solid;
  min-height: 25px;
  width: 100%;
}

li {
  list-style-type: none;
}

li:nth-child(even) {
  background-color: lightgrey;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.justify-end {
  align-self: flex-end;
}
